.shopping-card {
  position: fixed;
  top: 180px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 384px;
  background: #ffffff;
  border-radius: 24px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.shopping-card__name {
  margin-bottom: 16px;
}
.shopping-card__input-list {
  display: block;
  width: 100%;
  margin: 12px 0 32px;
}

.input-grope_error {
  position: absolute;
  top: 13px;
  left: 0;
}

.shopping-card__close-button {
  position: absolute;
  top: -10px;
  right: -10px;
}

@media screen and (max-width: 500px) {
  .shopping-card {
    padding: 20px;
    max-width: 280px;
  }
  .shopping-card__form {
    max-width: 250px;
  }
}
