.shopping-card {
  position: relative;
  max-width: 384px;
  margin: 180px auto 0;
  background: #ffffff;
  border-radius: 24px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.shopping-card__name {
  margin-bottom: 16px;
}
.shopping-card__input-list {
  display: block;
  width: 100%;
  margin: 12px 0 32px;
}
.sopping-card__input-grope {
  position: relative;
  padding-top: 30px;
  margin-bottom: 5px;
  list-style-type: none;
}
.input-grope_error {
  position: absolute;
  top: 13px;
  left: 0;
}
.input-grope__error-image {
  position: absolute;
  top: 47px;
  right: 14px;
  z-index: 1;
}
.sopping-card__input {
  width: 100%;
  height: 56px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  font-size: 16px;
  padding: 0 16px;
  text-transform: capitalize;
}
.shopping-card__close-button {
  position: absolute;
  top: -10px;
  right: -10px;
}
input:focus {
  outline: none;
}
.sopping-card__input_red {
  border-color: #e43f3f;
}
.sopping-card__input_green {
  border-color: #50daa8;
}

.shopping-card_error-massage {
  position: absolute;
  bottom: -15px;
  left: 0;
  font-size: 12px;
  color: #e43f3f;
}

@media screen and (max-width: 500px) {
  .shopping-card {
    padding: 20px;
    max-width: 280px;
  }
  .shopping-card__form {
    max-width: 250px;
  }
}
